<div class="dashboard-container">
  <div class="dashboard-header">
    <h2 class="dashboard-title">{{ 'DASHBOARD' | translate }}</h2>
    <button routerLink="/car-list" class="dashboard-button">
      {{ 'CARS_LIST' | translate }}
    </button>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="card bg-blue-100">
      <h3 class="card-title">{{ 'CARS_IN_SERVICE_CENTER' | translate }}</h3>
      <p class="card-value">{{ carsCount }}</p>
    </div>

    <div class="card bg-green-100">
      <h3 class="card-title">{{ 'JOBS_IN_PROGRESS' | translate }}</h3>
      <p class="card-value">{{ jobsCount }}</p>
    </div>
  </div>

  <hr class="my-10 border-gray-300">

  <div class="jobs-status">
    <h3 class="card-title">{{ 'JOBS_STATUS' | translate }}</h3>
    <button (click)="openAddJobModal()" class="dashboard-button">
      {{ 'ADD_JOB' | translate }}
    </button>
  </div>

  <div class="jobs-table-container">
    <table class="jobs-table min-w-full bg-white">
      <thead>
        <tr>
          <th class="py-2 px-4 border-b text-center">{{ 'JOB_ID' | translate }}</th>
          <th class="py-2 px-4 border-b text-center">{{ 'CAR_ID' | translate }}</th>
          <th class="py-2 px-4 border-b text-center">{{ 'DESCRIPTION' | translate }}</th>
          <th class="py-2 px-4 border-b text-center">{{ 'STATUS' | translate }}</th>
          <th class="py-2 px-4 border-b text-center">{{ 'ACTIONS' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td class="py-2 px-4 border-b text-center">{{ job.id }}</td>
          <td class="py-2 px-4 border-b text-center">{{ job.carId }}</td>
          <td class="py-2 px-4 border-b text-center">{{ job.description }}</td>
          <td class="py-2 px-4 border-b text-center">{{ job.status }}</td>
          <td class="py-2 px-4 border-b text-center">
            <button *ngIf="job.status === 'In Progress'" (click)="completeJob(job)" class="action-button">
              {{ 'COMPLETE' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-add-job-modal
    [isOpen]="isModalOpen"
    (closeModal)="closeAddJobModal()"
    (jobAdded)="onJobAdded($event)">
  </app-add-job-modal>
</div>
